RewriteEngine on
# redirect www to non-www
#RewriteCond %{HTTP_HOST} ^www\.wisasocks\.com$ [NC]
#RewriteRule ^(.*)$ http://wisasocks.com/$1 [L,R=301]

RewriteCond %{HTTP_HOST} ^wisasocks\.com$ [NC]
RewriteRule ^(.*)$ http://www.wisasocks.com/$1 [L,R=301]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?$1
ErrorDocument 404 http://www.wisasocks.com/demo/notfound